




#aboutSection > div{ height: 70vh; }

#presentation div div:last-child p {
text-align: justify;
}

/* Compétence et Soft Skills tab */
.tools-logo{
    width: 40px;
}



#competences .row .col-sm-6,   #competences .row .col-lg-4{
    transition: all .8s;
}
#competences .row .col-sm-6:hover .card{
    border: 2px solid #776c88 !important;
}
#softSkills .row .col-sm-6,   #softSkills .row .col-lg-4{
    transition: all .8s;
}
#softSkills .row .col-sm-6:hover .card{
    border: 2px solid #776c88 !important;
}


@media (min-width: 992px) {

    .tools-logo{
        width: 50px;
    }



    #competences .row .col-sm-6:hover,   #competences .row .col-lg-4:hover{
        transform: scale(.9);
    }

    #softSkills .row .col-sm-6:hover,   #softSkills .row .col-lg-4:hover{
        transform: scale(.9);
    }

}
